/* ==========================================================================
   COLOR CODES
   ========================================================================== */
/*
  top light blue : #b8c4cd;
  background light blue : #eff2f5;
*/


/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated canv
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */




/******************
** GLOBAL STYLES
******************/



/*
** FONTS
*/


/*OpenSans*/
@font-face{    
  font-family: 'OpenSans Regular';
  src: url('../res/font/opensans/opensans_regular.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Bold';
  src: url('../res/font/opensans/opensans_bold.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Bold Italic';
  src: url('../res/font/opensans/opensans_bold_italic.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Extra Bold';
  src: url('../res/font/opensans/opensans_extra_bold.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Extra Bold Italic';
  src: url('../res/font/opensans/opensans_extra_bold_italic.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Italic';
  src: url('../res/font/opensans/opensans_italic.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Light';
  src: url('../res/font/opensans/opensans_light.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Light Italic';
  src: url('../res/font/opensans/opensans_light_italic.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Semi Bold';
  src: url('../res/font/opensans/opensans_semibold.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Semi Bold Italic';
  src: url('../res/font/opensans/opensans_semibold_italic.ttf') format('truetype'); 
}

/*OpenSans Condensed*/
@font-face{    
  font-family: 'OpenSans Condensed Bold';
  src: url('..res/font/opensans_condensed/opensans_condensed_bold.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Condensed Light';
  src: url('../res/font/opensans_condensed/opensans_condensed_light.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Condensed Light Italic';
  src: url('../res/font/opensans_condensed/opensans_condensed_light_italic.ttf') format('truetype'); 
}


/*QuickSand*/
@font-face{    
  font-family: 'QuickSand';
  src: url('../res/font/quicksand/quicksand_regular.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand Italic';
  src: url('../res/font/quicksand/quicksand_italic.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand Bold';
  src: url('../res/font/quicksand/quicksand_bold.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand BoldItalic';
  src: url('../res/font/quicksand/quicksand_bolditalic.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand Light';
  src: url('../res/font/quicksand/quicksand_light.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand LightItalic';
  src: url('../res/font/quicksand/quicksand_lightitalic.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand Dashed';
  src: url('../res/font/quicksand/quicksand_dash.otf') format('truetype'); 
}


/*Icons-ShortStack*/
@font-face{    
  font-family: 'ShortStack Regular';
  src: url('..res/font/shortstack/shortstack_regular.otf') format('truetype'); 
}


/*Icons - Entypo*/
@font-face{    
  font-family: 'Entypo';
  src: url('../res/font/icons/entypo.ttf') format('truetype'); 
}



body{
    font-family: 'OpenSans Regular', sans-serif;
}

.icon-entypo{
  font-family: 'Entypo', sans-serif;

}



header h1{
  font-family: 'QuickSand Bold', sans-serif;
  text-align: center;
  color: #c1272d;
  font-size:4em;
  margin:0.5em 0 0 0;
  padding:0
}





/*div*/
.ui-loader{
  display:none;
}












/*section*/
.wrapper-main{
    width:80%;
    float:left;
    width:100%; 
    margin:1em 0;
    padding: 0.5em 0;
    background:#fff;
}


  /*div*/
  .wrapper-canvas{
    position: relative;
    padding: 2px;
    background: -webkit-radial-gradient(90px 0, circle cover, #e4f5fc 40%, #69BCE0 100%);
    background: radial-gradient(90px 0, circle cover, #e4f5fc 40%, #69BCE0 100%);
    background: -moz-radial-gradient(90px 0, circle cover, #e4f5fc 40%, #69BCE0 100%);
    border-radius: 40% / 5%;
    border-bottom:1px solid #27798F;
    border-top: 1px solid #105464;
    color: white;
    text-align: center;
    text-indent: 0.1em;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
  }
  

    /*canvas*/
    #elem-frame-svg{
        border:10px solid #C0C0C0  ;
        margin:1em 4%;
        background: url('../res/img/bg/bg_green.png') top left no-repeat ;
    }





.container-sentence{
    clear:both;
    float:left;
    width:80%;
    height:100px;
    border:1px solid black;
}


.container-canvas{

height:200px;
width:300px;
background-color:white;
margin-bottom:10px;

}


.placeholder-highlight{

height: 10px; 
width: 50px;
line-height: 10px; 

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
/*div*/
.wrapper-sent{
    float:left;
    padding:0.5em 0;
    margin:1em;
    font-size:2em;
}

    /*span*/
    .wrapper-sent .word{
        background:#bada55;
        color:#fff; 
        padding:0.25em;


      -webkit-border-radius: 12px;
              border-radius: 12px;
      background-clip: padding-box;

    }




/*aside*/
.wrapper-left{
    width:20%;
    background:#000;
    color: #f4f4f4;
    height:100%;
    float:left;
    position:relative;

}


